<html><head><link type="text/css" href="../css/plain.css" rel="stylesheet" />
</head><body>
<div style="font-weight:bold; text-align:center">

    <CENTER>
##TITLE##
    </CENTER>
</div>
<TABLE width="100%">
    <TR>
        <TD width="33%" ALIGN="left">
            Prev: <A HREF="##PREVLINK##">##PREVTEXT##</A>
        </TD>
        <TD width="34%" ALIGN="center">
            &nbsp;
        </TD>
        <TD width="33%" ALIGN="right">
            Next: <A HREF="##NEXTLINK##">##NEXTTEXT##</A>
        </TD>
    </TR>

    </TABLE>
             <hr width="100%"/>
              
              
<div id="content">
    <p class="intro_text">##INTRO##</p>
##BODY##
</div></div>
<hr width="100%"/>
<TABLE width="100%">
    <TR>
        <TD width="33%" ALIGN="left">
            Prev: <A HREF="##PREVLINK##">##PREVTEXT##</A>
        </TD>
        <TD width="34%" ALIGN="center">
            <A HREF="##HOMELINK##">Home</A>
        </TD>
        <TD width="33%" ALIGN="right">
            Next: <A HREF="##NEXTLINK##">##NEXTTEXT##</A>
        </TD>
    </TR>

    </TABLE>
</body></html>
